<!-- Card de busqueda -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-header bg-info">
      <h5 class="m-b-0 text-white">Consulta de Auditoria</h5>
    </div>
    <form class="form-horizontal" (ngSubmit)="getConsultaAditoria()" [formGroup]="forma">
      <div class="form-body">
        <div class="card-body">

          <!-- Subtitulos de pagina -->
          <h6 class="card-subtitle">
            Este apartado sirve para Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero veritatis, alias
            amet, accusamus officiis ex vel atque, dolor non quos ut obcaecati? Sapiente dolorem enim odio nisi? Enim,
            illum!
          </h6>
        </div>

        <!-- Formulario de Busqueda -->
        <div class="card-body">
          <div class="p-formgroup-inline">

            <!-- NIT -->
            <div class="p-field">
              <label for="firstname5" class="p-sr-only">NIT</label>
              <input id="firstname5"
                     type="text"
                     pInputText
                     formControlName="nit"
                     [class]="nitNoValido ? 'ng-invalid':''"
                     placeholder="NIT" />
              <br>
              <small *ngIf="nitNoValido" class="text-danger">
                Ingrese un número de NIT
              </small>
            </div>
            

            <!-- Fecha Inicio -->
            <div class="p-field">
              <label for="lastname5" class="p-sr-only">Fecha Inicio</label>
              <p-calendar [showIcon]="true"
                          inputId="icon"
                          formControlName="fechaInicio"
                          [class]="fechaInicioNoValido ? 'ng-invalid':''"
                          placeholder="Fecha Inicio"
                          dateFormat="yy/mm/dd"
                          class="calendar-custom">
              </p-calendar>
              <br>
              <small *ngIf="fechaInicioNoValido" class="text-danger">
                Ingrese una fecha de inicio
              </small>
            </div>

            <!-- Fecha Final -->
            <div class="p-field">
              <label for="lastname5" class="p-sr-only">Fecha Final</label>
              <p-calendar [showIcon]="true"
                          inputId="icon"
                          formControlName="fechaFinal"
                          placeholder="Fecha Final"
                          [class]="fechaInicioNoValido ? 'ng-invalid':''"
                          dateFormat="yy/mm/dd"
                          class="calendar-custom">
              </p-calendar>
              <br>
              <small *ngIf="fechaFinalNoValido" class="text-danger">
                Ingrese una fecha final
              </small>
            </div>

            <!-- Boton de busqueda -->
            <button pButton
                    type="submit"
                    label="Busqueda Avanzada"
                    icon="pi pi-search"
                    iconPos="left"
                    class="p-button-outlined p-button-primary"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Card con table de busqueda -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-header bg-primary">
      <h5 class="m-b-0 text-white">Resultado de Busqueda</h5>
    </div>
    <div class="card-body">
      <div class="row">

        <!-- datatable de busqueda -->
        <p-table #dt1
                [value]="dataTable"
                [paginator]="true"
                [rows]="5"
                [globalFilterFields]="['NIT','Contribuyente']"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} páginas"
                [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-sm p-datatable-gridlines"
                [loading]="loading"
                >


                <ng-template pTemplate="caption">
                  <div class="p-d-flex">
                    <!-- Boton de limpiar filtos -->
                    <button pButton
                            label="Limpiar"
                            class="p-button-outlined"
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)"></button>
                    <!-- Input de busqueda -->
                    <span class="p-input-icon-left p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText
                             type="text"
                             (input)="dt1.filterGlobal($event.target.value, 'contains')"
                             [disabled] = "loading"
                             placeholder="Buscar palabra" />
                    </span>
                  </div>
                </ng-template>


                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="NIT">NIT<p-sortIcon field="NIT"></p-sortIcon></th>
                    <th pSortableColumn="Contribuyente">Contribuyente <p-sortIcon field="Contribuyente"></p-sortIcon></th>
                    <th pSortableColumn="Delegacion">Delegación <p-sortIcon field="Delegacion"></p-sortIcon></th>
                    <th pSortableColumn="fecha_Registro">Fecha Registro <p-sortIcon field="fecha_Registro"></p-sortIcon></th>
                    <th pSortableColumn="fecha_Liquidacion">Fecha Liquidación <p-sortIcon field="fecha_Liquidacion"></p-sortIcon></th>
                    <th pSortableColumn="IVA">IVA <p-sortIcon field="IVA"></p-sortIcon></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr>
                    <td>{{data.nit_contribuyente}}</td>
                    <td>{{data.contribuyente}}</td>
                    <td>{{data.delegacion_de_aduanas}}</td>
                    <td>{{data.fecha_de_registro | filtroFecha}}</td>
                    <td>{{data.fecha_de_liquidacion | filtroFecha}}</td>
                    <td>$ {{data.iva}}</td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="7">Sin resultados.</td>
                  </tr>
              </ng-template>

        </p-table>
      </div>
    </div>
  </div>

  <p-toast position="bottom-center"></p-toast>
