<div class="page-breadcrumb">
  <div class="d-md-flex align-items-center">
    <h3 class="page-title">Auditoria</h3>
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a>Auditoria</a>
          </li>
          <li class="breadcrumb-item active" routerLinkActive="/mga-dga/consulta">Consulta</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header bg-info">
      <h5 class="m-b-0 text-white">Consulta de Auditoria</h5>
    </div>
    <form class="form-horizontal">
      <div class="form-body">
        <div class="card-body">
          <h6 class="card-subtitle">
            Este apartado sirve para Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vero veritatis, alias
            amet, accusamus officiis ex vel atque, dolor non quos ut obcaecati? Sapiente dolorem enim odio nisi? Enim,
            illum!
          </h6>
          <!-- <h4 class="card-title">Busqueda</h4> -->
        </div>
        <div class="card-body">
          <div class="p-formgroup-inline">
            <div class="p-field">
              <label for="firstname5" class="p-sr-only">NIT</label>
              <input id="firstname5" type="text" pInputText placeholder="NIT" />
            </div>
            <div class="p-field">
              <label for="lastname5" class="p-sr-only">Fecha Inicio</label>
              <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha Inicio" class="calendar-custom">
              </p-calendar>
            </div>
            <div class="p-field">
              <label for="lastname5" class="p-sr-only">Fecha Final</label>
              <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha Final" class="calendar-custom">
              </p-calendar>
            </div>
            <button pButton type="button" label="Busqueda Avanzada" icon="pi pi-search" iconPos="left"
              class="p-button-outlined p-button-primary"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-header bg-warning">
      <h5 class="m-b-0 text-white">Resultado de Busqueda</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <p-table #dt1 [value]="dataTable" [paginator]="true" [rows]="5" [globalFilterFields]="['NIT','Contribuyente']"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} páginas"
          [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-sm p-datatable-gridlines">
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar palabra" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="NIT">NIT <p-sortIcon field="NIT"></p-sortIcon>
              </th>
              <th pSortableColumn="Contribuyente">Contribuyente <p-sortIcon field="Contribuyente"></p-sortIcon>
              </th>
              <th pSortableColumn="Delegacion">Delegación <p-sortIcon field="Delegacion"></p-sortIcon>
              </th>
              <th pSortableColumn="fecha_Registro">Fecha Registro <p-sortIcon field="fecha_Registro"></p-sortIcon>
              </th>
              <th pSortableColumn="fecha_Liquidacion">Fecha Liquidación <p-sortIcon field="fecha_Liquidacion">
                </p-sortIcon>
              </th>
              <th pSortableColumn="IVA">IVA <p-sortIcon field="IVA"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{data.NIT}}</td>
              <td>{{data.Contribuyente}}</td>
              <td>{{data.Delegacion}}</td>
              <td>{{data.fecha_Registro}}</td>
              <td>{{data.fecha_Liquidacion}}</td>
              <td>{{data.IVA}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
